.ProductDetail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    background-color: #6C63FF;
    border-radius: 10px;
    box-shadow: 5px 5px 6px #00000066;
    margin: 10px;
    color: white;
    width: 80vw;
}

.ProductDetail img{
    height: 500px !important;
    width: auto !important;
    margin: 10px;
    border-radius: 10px 0px 0px 10px;
}

.ProductDetailList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.ProductDetailContent{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 10px 10px 0px;
    align-items: center;
}

.ProductDetailContent a{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}


.ProductDetailContent h2{
    margin: 0px !important;
}

.ProductDetailContent h3{
    display: block;
    font-size: 20px !important;
    margin: 10px 0px !important;
}

.buttonsSection{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.buyButton :hover{
    background-color: rgb(228, 228, 228) !important;
    color: rgb(66, 66, 66) !important;
}

.ContainerDetail{
    display: flex;
    justify-content: center;
    margin: 150px 0px;
}

.quantities button{
    margin: 10px 0px 0px 0px;
    padding: 0px;
    color: white;
    background-color: #292929;
    box-shadow: 1px 1px 15px #ffffff41;
    border-style: none !important;
    border-radius: 3px;
    width: 20px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.quantities{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
}