.ArticulosCart{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    border-radius: 5px;
    background-color: rgb(66, 66, 66);
    width: 250px;
    color: white;
    box-shadow: 5px 5px 6px #00000066;
    height: 400px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.ArticulosCart:hover{
    background-color: rgb(81, 81, 81);
    box-shadow: 1px 1px 15px #ffffff !important;
}

h3{
    display: flex;
    color: white;
    justify-content: center;
    margin: 25px !important;
    font-size: 30px;
}

.cartProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.quantityButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
}

.quantityButton a{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.buttonCart{
    margin: 10px 0px 0px 0px !important;
    padding: 0px !important;
    color: rgba(255, 255, 255, 0.278) !important;
    background-color: #292929;
    width: 50%;
    height: 50px !important;
    border-radius: 5px !important;
    border-style:solid !important;
    border-width: 2px !important;
    border-color: rgba(255, 255, 255, 0.278) !important;
    font-size: larger !important;
    transition: width 0.5s, background-color 0.5s, box-shadow 0.5s !important;
}

.buttonCart:hover{
    cursor: pointer !important;
    width: 60% !important;
    background-color: white !important;
    box-shadow: 1px 1px 15px #ffffff !important;
    color: #292929 !important;
}
