.Articulos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(66, 66, 66);
    width: 250px;
    height: 500px;
    color: white;
    box-shadow: 5px 5px 6px #00000066;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.contenidoArticulos{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width:200px;
    text-align: center;
    color: white;
}

.contenidoArticulos button{
    margin-top: 5px;
    width: 80px;
    height: 30px;
}

h2{
    margin: 15px;
    font-size: 30px;
}

h3{
    margin: 5px;
}

.quantityButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.countButton{
    margin: 5px;
    display: flex;
    width: 25px !important;
    height: 25px !important;
    justify-content: center;
    font-size: larger;
    align-items: center;
}

