.header{
    display: flex;
    background-color: rgb(15, 32, 49);
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0px 10px;
}

.rightItems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

a{
    color: white;
}

a:hover{
    color: rgb(4, 68, 133);
}