.header{
    display: flex;
    background-color: rgb(29, 29, 29);
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0px 10px;
    position: sticky;
    top:0 !important;
}

.rightItems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

a{
    color: white;
}

a:hover{
    color: rgb(80, 80, 80);
}

.leftItems{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 5px;
}

h1{
    font-size: 30px !important; 
    margin-top: 10px;
    padding: 0px !important;
    text-decoration: none;
}

h2{
    margin: 0px !important;
    margin-top: 50px !important;
}

.leftItems img{
    width: 80px !important;
    height:80px !important;
    margin: 0px;
    padding: 0px;
}

.leftItems li{
    margin: 5px !important;
}
