.bottomBar{
    display: flex;
    background-color: rgb(29, 29, 29);
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
    position:absolute;
    bottom: 0;
    width: 100vw;
}

.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

li{
    list-style: none;
    margin: 20px;
}