.bottomBar{
    display: flex;
    background-color: rgb(29, 29, 29);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    margin-top: 100px;
    padding: 30px 0px 0px 0px;
    position: relative;
    bottom: 0px !important;
    width: 100%;
    height: 300px;
    height: 300px;
}

.icons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    margin: 0px 20px 0px 20px;
}

.pages{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    margin: 0px 20px 0px 20px;
}

.icons a{
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    color: white;
}

.icons h4{
    font-size: 20px;
    color: #6b63ff;
    margin-bottom: 10px;
    text-decoration: underline;
}

.pages h4{
    font-size: 20px;
    color: #6b63ff;
    margin-bottom: 10px;
    text-decoration:underline;
}

.pages a{
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
    color: white;
}

.logos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.logos2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;
}
