h1{
    font-size: 40px;
    display: flex;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.headerBar{
    width: 100vw;
    position: relative;
    top: 0;
    z-index: 1000;
}
