.logoImg{
width:200px;
height: 200px;
}

.mainHeader{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(93, 92, 91);
}


